<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="TbnProd.Local1" connectionString="data source=DEVELOPER;Initial Catalog=TbnProd;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="TbnProd.Local" connectionString="data source=Home;Initial Catalog=TbnProd;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>